body {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
  padding-top: 100px;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}
